<div class="container">
    <div class="row">
        <% if flash[:error] -%>
          <p class='error'><%=h flash[:error] %></p>
        <% end -%>
        <% if flash[:notice] -%>
          <p class='notice'><%=h flash[:notice] %></p>
        <% end -%>
    </div>
    <div class="row">
        <div class="two columns"></div>
        <div class="eight columns">
            <h2>Edit Beer</h2>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <form action="/products/<%= @beer.id%>" method="post">
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="patch" />
                <input type="text" class="u-full-width" name="product[name]" value="<%= @beer.name %>" /><br />
                <input type="text" class="u-full-width" name="product[description]" value="<%= @beer.description %>"/><br  />
                <input type="text" class="u-full-width" name="product[pricing]" value="<%= @beer.pricing %>"/><br />
                <input type="submit" name="submit" value="Update Beer" class="u-full-width button-primary" />
            </form>
            <a href="/products">Back</a>
        </div>
        <div class="two columns"></div>
    </div>
</div>
